html,body {
  margin: 0px auto;
  padding: 0px auto;
  background-color: #cbc8c8;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  background-color: #cecece;
  height: 100%;
}




img {
  display: block;
  width: 100%;
  height: auto;
}

nav {
	background: rgb(32, 108, 17);
	padding: 15px;
  text-align: center;
}

nav a {
	color: white;
  text-decoration: none;
  margin: 0px 10px;
  font-size: 20px;
  font-weight: 300;	
}

nav a:hover {
	color: rgb(177, 184, 177);
}

.container{
  max-width: 900px;
  margin: 0px auto;
  padding: 30px;
  margin: 50px auto;
}

.link{
  font-size: 20px;
  color: rgb(108, 108, 227);
  font-weight: 400;
}

.link:hover{
  cursor: pointer;
  color: rgb(79, 84, 143);
}

.container_card{
  max-width: 300px;
  margin: 0px auto;
  background: rgb(177, 173, 173);
}
.card {
  width: 300px;
  margin: 0px auto;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.card img{
  width: 300px;
  margin: 0px auto;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.card  h3{
  padding: 10px;
  text-align: center;
  color: rgb(13, 72, 13);
}

p{
  max-width: 900px;
  text-align: justify;
  margin: 0px auto;
  font-size: 17px;
  
}


